In [2]:
import pandas as pd
import zipfile
import io

In [3]:



# Load all sheets into a dictionary of DataFrames
file_path = "ttc-bus-delay-data-2014.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Bus_2014 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Bus_2014 = TTC_Delay_Bus_2014.reset_index(drop=True)
TTC_Delay_Bus_2014.rename(columns={'Report Date': 'Date'}, inplace=True)

TTC_Delay_Bus_2014.to_csv('TTC_Delay_Bus_2014.csv', index=False)
TTC_Delay_Bus_2014

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2014-01-01,95,00:23:00,Wednesday,York Mills station,Mechanical,10.0,20.0,E,1734.0
1,2014-01-01,102,00:55:00,Wednesday,Entire run for route,General Delay,33.0,66.0,b/w,8110.0
2,2014-01-01,54,01:28:00,Wednesday,lawrence and Warden,Mechanical,10.0,20.0,WB,7478.0
3,2014-01-01,112,01:30:00,Wednesday,Kipling Station,Emergency Services,18.0,36.0,N,8084.0
4,2014-01-01,24,01:37:00,Wednesday,VP and Ellesmere,Investigation,10.0,20.0,n,7843.0
...,...,...,...,...,...,...,...,...,...,...
94212,2014-12-31,96,21:52:00,Wednesday,wilson stn,Mechanical,27.0,47.0,w,1227.0
94213,2014-12-31,127,22:12:00,Wednesday,Old weston and Townsley loop,Mechanical,20.0,40.0,e/b,1582.0
94214,2014-12-31,780,22:21:00,Wednesday,Eglinton STN,Utilized Off Route,1.0,1.0,EB,7558.0
94215,2014-12-31,45,22:53:00,Wednesday,Kipling/Burnhamthorpe,Mechanical,10.0,20.0,n/b,7973.0
94216,2014-12-31,38,22:59:00,Wednesday,Rouge Hill GO Station,Investigation,13.0,26.0,WB,1740.0

In [6]:



# Load all sheets into a dictionary of DataFrames
file_path = "ttc-bus-delay-data-2015.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Bus_2015 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Bus_2015 = TTC_Delay_Bus_2015.reset_index(drop=True)
TTC_Delay_Bus_2015.rename(columns={'Report Date': 'Date'}, inplace=True)

TTC_Delay_Bus_2015.to_csv('TTC_Delay_Bus_2015.csv', index=False)
TTC_Delay_Bus_2015

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2015-01-01,116,00:18:00,Thursday,Morningside & finch,Mechanical,10.0,20.0,WB,7667.0
1,2015-01-01,106,00:28:00,Thursday,Downsview Station,Mechanical,1.0,1.0,n,9432.0
2,2015-01-01,32,01:09:00,Thursday,Trethewey and York,Emergency Services,12.0,24.0,w/b,1640.0
3,2015-01-01,7,01:20:00,Thursday,Bathurst Station,Mechanical,12.0,24.0,n,9031.0
4,2015-01-01,32,01:26:00,Thursday,Eglinton station,Mechanical,12.0,24.0,e/b,1503.0
...,...,...,...,...,...,...,...,...,...,...
76505,2015-12-31,100,23:31:00,Thursday,Eglinton Stn,Mechanical,10.0,19.0,e/b,7644.0
76506,2015-12-31,29,23:36:00,Thursday,Wilson Station,Mechanical,9.0,18.0,NB,1732.0
76507,2015-12-31,54,23:38:00,Thursday,Eglinton Stn,Utilized Off Route,1.0,1.0,e/b,7630.0
76508,2015-12-31,52,23:48:00,Thursday,Lawrence and Culford,Mechanical,18.0,36.0,WB,1663.0
76509,2015-12-31,63,23:52:00,Thursday,Eglinton West Station,Mechanical,10.0,20.0,SB,1565.0

In [7]:



# Load all sheets into a dictionary of DataFrames
file_path = "ttc-bus-delay-data-2016.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Bus_2016 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Bus_2016 = TTC_Delay_Bus_2016.reset_index(drop=True)
TTC_Delay_Bus_2016.rename(columns={'Report Date': 'Date'}, inplace=True)

TTC_Delay_Bus_2016.to_csv('TTC_Delay_Bus_2016.csv', index=False)
TTC_Delay_Bus_2016

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2016-01-01,123,00:10:00,Friday,LONGBRANCH LOOP,Mechanical,24.0,48.0,N/B,8043.0
1,2016-01-01,112,00:25:00,Friday,KIPLING STN,Mechanical,18.0,36.0,N/B,8023.0
2,2016-01-01,736,01:03:00,Friday,ROYAL YORK AT ROMNEY RD,Investigation,20.0,40.0,N/B,8032.0
3,2016-01-01,94,01:10:00,Friday,Ossington Stn,Mechanical,10.0,20.0,SB,7745.0
4,2016-01-01,89,01:30:00,Friday,Keele Station,Mechanical,10.0,20.0,NB,1622.0
...,...,...,...,...,...,...,...,...,...,...
77083,2016-12-31,165,21:24:00,Saturday,Wilson and Jane,Diversion,1.0,1.0,w,8571.0
77084,2016-12-31,96,21:24:00,Saturday,Wilson and Jane,Diversion,1.0,1.0,e,1340.0
77085,2016-12-31,39,21:29:00,Saturday,FSTN,Utilized Off Route,20.0,28.0,EB,1301.0
77086,2016-12-31,129,21:53:00,Saturday,Progress on McCowan,Investigation,10.0,20.0,NB,1713.0
77087,2016-12-31,32,23:40:00,Saturday,Eglinton stn,Utilized Off Route,20.0,38.0,w/b,1648.0

In [8]:



# Load all sheets into a dictionary of DataFrames
file_path = "ttc-bus-delay-data-2017.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Bus_2017 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Bus_2017 = TTC_Delay_Bus_2017.reset_index(drop=True)
TTC_Delay_Bus_2017.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Bus_2017.to_csv('TTC_Delay_Bus_2017.csv', index=False)
TTC_Delay_Bus_2017

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2017-01-01,73,00:42:00,Sunday,Claireport at Albion,Mechanical,20.0,20.0,S,8091.0
1,2017-01-01,75,01:02:00,Sunday,Glen /Elm,Emergency Services,30.0,60.0,n,1821.0
2,2017-01-01,102,01:20:00,Sunday,Warden Station,Mechanical,10.0,20.0,NaN,8114.0
3,2017-01-01,120,01:22:00,Sunday,Sheppard at Northover,Mechanical,30.0,60.0,e,8548.0
4,2017-01-01,83,01:30:00,Sunday,Donlands station,Mechanical,30.0,60.0,NaN,8127.0
...,...,...,...,...,...,...,...,...,...,...
70298,2017-12-31,84,21:22:00,Sunday,Sheppard/Wilson heights,Investigation,10.0,20.0,E/B,8564.0
70299,2017-12-31,33,22:19:00,Sunday,Mayfair and Eglinton,Investigation,20.0,40.0,S/B,1391.0
70300,2017-12-31,39,22:22:00,Sunday,Neilson and Crow Trail,Mechanical,13.0,26.0,W/B,1085.0
70301,2017-12-31,165,23:06:00,Sunday,YKMS,Mechanical,10.0,20.0,N/B,8583.0
70302,2017-12-31,759,23:55:00,Sunday,Oakwood Loop,Utilized Off Route,1.0,1.0,S/B,1039.0

In [10]:
# Load all sheets into a dictionary of DataFrames
file_path = "ttc-bus-delay-data-2018.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Bus_2018 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Bus_2018 = TTC_Delay_Bus_2018.reset_index(drop=True)
TTC_Delay_Bus_2018.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Bus_2018.to_csv('TTC_Delay_Bus_2018.csv', index=False)
TTC_Delay_Bus_2018

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2018-01-01,165,00:17:00,Monday,Wilson Stn,Mechanical,10.0,20.0,W/B,1291.0
1,2018-01-01,706,00:20:00,Monday,Birchmount Garage,Utilized Off Route,1.0,1.0,S/B,8123.0
2,2018-01-01,28,00:30:00,Monday,Davisville Station,Investigation,30.0,60.0,S/B,8306.0
3,2018-01-01,12,00:55:00,Monday,Kennedy Station,Mechanical,22.0,44.0,S/B,7777.0
4,2018-01-01,72,00:55:00,Monday,Pape Station,Mechanical,18.0,36.0,NaN,7787.0
...,...,...,...,...,...,...,...,...,...,...
73922,2018-12-31,900,23:20:00,Monday,Kipling stn,Utilized Off Route,10.0,20.0,N/B,20.0
73923,2018-12-31,60,23:27:00,Monday,FSTN,Mechanical,8.0,16.0,W/B,3122.0
73924,2018-12-31,94,23:43:00,Monday,EB on Wellesley at Queenspark,Investigation,10.0,20.0,E/B,1421.0
73925,2018-12-31,52,23:48:00,Monday,Attwell and dixon,Mechanical,12.0,24.0,W/B,8333.0
73926,2018-12-31,7,23:58:00,Monday,Bathurst and Eglinton,Investigation,10.0,20.0,N/B,9010.0

In [14]:
# Load all sheets into a dictionary of DataFrames
file_path = "ttc-bus-delay-data-2019.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Bus_2019 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Bus_2019 = TTC_Delay_Bus_2019.reset_index(drop=True)
TTC_Delay_Bus_2019.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Bus_2019.to_csv('TTC_Delay_Bus_2019.csv', index=False)
TTC_Delay_Bus_2019

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2019-01-01,39,00:13:00,Tuesday,NECR,Mechanical,9.0,18.0,W/B,1794.0
1,2019-01-01,111,00:15:00,Tuesday,Eglington,Mechanical,15.0,30.0,S/B,8065.0
2,2019-01-01,35,00:18:00,Tuesday,Finch,Mechanical,9.0,18.0,S/B,3275.0
3,2019-01-01,25,00:30:00,Tuesday,Don Mills Rd/Eglinton Ave E,Mechanical,9.0,18.0,N/B,8840.0
4,2019-01-01,36,00:40:00,Tuesday,Humberwood,Investigation,9.0,18.0,E/B,9119.0
...,...,...,...,...,...,...,...,...,...,...
62371,2019-12-31,927,22:45:00,Tuesday,Steels Loop and Marton Grove,Mechanical,10.0,20.0,S/B,3560.0
62372,2019-12-31,34,22:50:00,Tuesday,Eglinton Station,Mechanical,10.0,20.0,EB,8685.0
62373,2019-12-31,95,23:02:00,Tuesday,Markham and Ellesmere,Mechanical,10.0,20.0,W/B,3404.0
62374,2019-12-31,32,23:24:00,Tuesday,Pine and Jane,Mechanical,11.0,22.0,E/B,1120.0
62375,2019-12-31,39,23:31:00,Tuesday,Neilson / Crow Trail,Mechanical,20.0,40.0,W/B,1654.0

In [16]:
# Load all sheets into a dictionary of DataFrames
file_path = "ttc-bus-delay-data-2020.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Bus_2020 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Bus_2020 = TTC_Delay_Bus_2020.reset_index(drop=True)
TTC_Delay_Bus_2020.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Bus_2020.to_csv('TTC_Delay_Bus_2020.csv', index=False)
TTC_Delay_Bus_2020

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2020-01-01,94.0,00:01:00,Wednesday,Ossington station and Castle Frank Station,General Delay,10.0,20.0,B/W,NaN
1,2020-01-01,320.0,01:31:00,Wednesday,Yonge @ Queen,Diversion,1.0,1.0,B/W,NaN
2,2020-01-01,29.0,01:37:00,Wednesday,Dufferin loop,Mechanical,8.0,14.0,N/B,9028.0
3,2020-01-01,102.0,01:40:00,Wednesday,Warden station,Mechanical,11.0,22.0,N/B,8504.0
4,2020-01-01,68.0,01:42:00,Wednesday,Warden Station,Mechanical,8.0,23.0,N/B,8721.0
...,...,...,...,...,...,...,...,...,...,...
36146,2020-12-31,36.0,23:44,Thursday,FINCH AND ISLINGTON,Security,10.0,20.0,W,3298.0
36147,2020-12-31,43.0,00:32,Thursday,KENNEDY STATION,Security,14.0,28.0,NaN,8706.0
36148,2020-12-31,86.0,01:08,Thursday,MEADOWVALE AND SHEPPAR,Emergency Services,10.0,20.0,E,8899.0
36149,2020-12-31,76.0,01:23,Thursday,LAKE SHORE AND MIMICO,Road Blocked - NON-TTC Collision,86.0,101.0,NaN,0.0
36150,2020-12-31,65.0,01:59,Thursday,CASTLE FRANK STATION,Investigation,0.0,0.0,NaN,9231.0

In [19]:
# Load all sheets into a dictionary of DataFrames
file_path = "ttc-bus-delay-data-2021.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Bus_2021 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Bus_2021 = TTC_Delay_Bus_2021.reset_index(drop=True)
TTC_Delay_Bus_2021.to_csv('TTC_Delay_Bus_2021.csv', index=False)
TTC_Delay_Bus_2021

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2021-01-01,320,04:26,Friday,YONGE AND STEELES,Emergency Services,0,0,N,1553
1,2021-01-01,63,05:04,Friday,CANNIFF AND STRACHAN,Mechanical,10,0,N,8144
2,2021-01-01,42,05:34,Friday,WILSON GARAGE,Mechanical,24,48,N,8365
3,2021-01-01,320,05:44,Friday,YONGE AND STEELES,Emergency Services,15,30,N,8181
4,2021-01-01,35,06:21,Friday,JANE STATION,Vision,30,60,E,3186
...,...,...,...,...,...,...,...,...,...,...
42264,2021-12-31,396,01:15,Friday,STEELES AND MARTIN GRO,Operations - Operator,30,60,E,0
42265,2021-12-31,960,01:16,Friday,SIGNAL AND STEELES,Operations - Operator,6,12,NaN,8211
42266,2021-12-31,32,01:17,Friday,EGLINTON WEST STATION,Operations - Operator,10,18,NaN,1357
42267,2021-12-31,29,01:20,Friday,WILSON STATION,Operations - Operator,6,11,NaN,9044
42268,2021-12-31,320,01:56,Friday,YONGE AND STEELES,Operations - Operator,13,20,S,0

In [21]:
TTC_Delay_Bus_2022 = pd.read_excel('ttc-bus-delay-data-2022.xlsx')
TTC_Delay_Bus_2022.to_csv('TTC_Delay_Bus_2022.csv', index=False)
TTC_Delay_Bus_2022

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2022-01-01,320,02:00,Saturday,YONGE AND DUNDAS,General Delay,0,0,NaN,8531
1,2022-01-01,325,02:00,Saturday,OVERLEA AND THORCLIFFE,Diversion,131,161,W,8658
2,2022-01-01,320,02:00,Saturday,YONGE AND STEELES,Operations - Operator,17,20,S,0
3,2022-01-01,320,02:07,Saturday,YONGE AND STEELES,Operations - Operator,4,11,S,0
4,2022-01-01,320,02:13,Saturday,YONGE AND STEELES,Operations - Operator,4,8,S,0
...,...,...,...,...,...,...,...,...,...,...
58702,2022-12-31,32,23:21,Saturday,EGLINTON AND EDITH (W,Mechanical,2,24,W,1085
58703,2022-12-31,113,23:28,Saturday,DANFORTH AND DAWES,Vision,20,40,W,8589
58704,2022-12-31,72,23:56,Saturday,LOWER SHERBOURNE AND L,Security,18,36,N,8493
58705,2022-12-31,22,00:17,Saturday,BINGHAM LOOP,Cleaning - Unsanitary,10,20,S,8582
58706,2022-12-31,7,00:28,Saturday,BATHURST STATION,General Delay,10,20,N,8354

In [22]:
TTC_Delay_Bus_2023 = pd.read_excel('ttc-bus-delay-data-2023.xlsx')
TTC_Delay_Bus_2023.to_csv('TTC_Delay_Bus_2023.csv', index=False)
TTC_Delay_Bus_2023

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2023-01-01,91,02:30,Sunday,WOODBINE AND MORTIMER,Diversion,81,111,NaN,8772
1,2023-01-01,69,02:34,Sunday,WARDEN STATION,Security,22,44,S,8407
2,2023-01-01,35,03:06,Sunday,JANE STATION,Cleaning - Unsanitary,30,60,N,1051
3,2023-01-01,900,03:14,Sunday,KIPLING STATION,Security,17,17,NaN,3334
4,2023-01-01,85,03:43,Sunday,MEADOWALE LOOP,Security,1,1,NaN,1559
...,...,...,...,...,...,...,...,...,...,...
56202,2023-12-31,41,01:26,Sunday,KEELE AND EGLINTON,Operations - Operator,28,53,N,1133
56203,2023-12-31,94,01:31,Sunday,CASTLE FRANK STATION,Emergency Services,10,20,NaN,8415
56204,2023-12-31,63,01:40,Sunday,OAKWOOD AND VAUGHAN,Diversion,33,43,N,7010
56205,2023-12-31,34,01:54,Sunday,EGLINTON STATION,Emergency Services,0,0,N,8761
56206,2023-12-31,41,01:55,Sunday,KEELE AND ROGERS,General Delay,25,53,N,7287

In [23]:
TTC_Delay_Bus_2024 = pd.read_excel('ttc-bus-delay-data-2024.xlsx')
TTC_Delay_Bus_2024.to_csv('TTC_Delay_Bus_2024.csv', index=False)
TTC_Delay_Bus_2024

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2024-01-01,89,02:08,Monday,KEELE AND GLENLAKE,Vision,10,20,N,7107
1,2024-01-01,39,02:30,Monday,FINCH STATION,General Delay,20,40,NaN,8914
2,2024-01-01,300,03:13,Monday,BLOOR AND MANNING,General Delay,0,0,NaN,8562
3,2024-01-01,65,03:23,Monday,PARLIAMENT AND BLOOR,Security,0,0,N,8574
4,2024-01-01,113,03:37,Monday,MAIN STATION,Security,0,0,NaN,8541
...,...,...,...,...,...,...,...,...,...,...
54604,2024-11-30,927,01:05,Saturday,ARROW GARAGE,Operations - Operator,20,40,NaN,0
54605,2024-11-30,904,01:13,Saturday,PROGRESS AND MIDLAND,Operations - Operator,7,14,W,9047
54606,2024-11-30,105,01:14,Saturday,SHEPPARD WEST STATION,Emergency Services,0,0,S,7104
54607,2024-11-30,36,01:19,Saturday,HUMBERWOOD BLVD AND MO,Emergency Services,15,29,S,3627
54608,2024-11-30,85,01:22,Saturday,SHEPPARD AND BRIMLEY,Collision - TTC,10,20,E,1521

In [36]:
import pandas as pd
import glob

# List all CSV files from 2014 to 2024
file_paths = [f"TTC_Delay_Bus_{year}.csv" for year in range(2014, 2025)]

# Read and combine all files
df_list = [pd.read_csv(file) for file in file_paths]
df = pd.concat(df_list, ignore_index=True)


# Convert 'Date' column to datetime format (assuming 'Date' exists)
df['Date'] = pd.to_datetime(df['Date'])

# Extract Year and Month
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.strftime('%B')

# Define a function to assign seasons based on month names
def get_season(month):
    if month in ["December", "January", "February"]:
        return "Winter"
    elif month in ["March", "April", "May"]:
        return "Spring"
    elif month in ["June", "July", "August"]:
        return "Summer"
    else:
        return "Fall"




# Apply the function to create a 'Season' column
df['Season'] = df['Month'].apply(get_season)
df = df[df['Min Delay']>0]

df = df.drop_duplicates()

# Remove rows where 'Route' is NaN
df = df.dropna(subset=['Route', 'Incident'])

# Reset index after dropping rows
df = df.reset_index(drop=True)


# List of columns to drop
columns_to_drop = ['Vehicle', 'Location']  # Replace with actual column names


# Drop the selected columns
df = df.drop(columns=columns_to_drop)


df = df[df['Incident']!='e']
df = df[df['Incident']!='Roadblock by Collision - Non-TTC']
df = df[df['Incident']!='Late Entering Service - Mechanical']
df = df[df['Incident']!='Securitty']
df = df[df['Incident']!='Late Leaving Garage - Operations']
df = df[df['Incident']!='Rail/Switches']
df = df[df['Incident']!='Late']
#df = df[df['Incident']!='Held By']
df = df[df['Incident']!='Overhead']
df = df[df['Incident']!='Management']
df = df[df['Incident']!='Late Entering Service']

# Display first few rows



df['Incident'] = df['Incident'].replace({'Collision - TTC': 'Collision - TTC Involved'})

df['Incident'] = df['Incident'].replace({'Cleaning - Unsanitary': 'Cleaning'})

df['Incident'] = df['Incident'].replace({'Held By': 'Held By Police'})

df['Incident'] = df['Incident'].replace({'Late Leaving Garage - Vision': 'Late Leaving Garage'})
df['Incident'] = df['Incident'].replace({'Late Leaving Garage - Mechanical': 'Late Leaving Garage'})
df['Incident'] = df['Incident'].replace({'Late Leaving Garage - Operator': 'Late Leaving Garage'})
df['Incident'] = df['Incident'].replace({'Late Leaving Garage - Management': 'Late Leaving Garage'})



df['Incident'] = df['Incident'].replace({'Road Block - Non-TTC Collision': 'Road Blocked - NON-TTC Collision'})


df['Incident'] = df['Incident'].replace({'Operations - Operator': 'Operations'})

df['Incident'] = df['Incident'].replace({'Cleaning - Disinfection': 'Cleaning'})



df = df.reset_index(drop=True)

df['Direction'] = df['Direction'].str.lower().str.replace(r'[/.\s]', '', regex=True)
df['Direction'] = df['Direction'].str.lower().str.replace(r"[^a-z]", "", regex=True)

df['Direction'] = df['Direction'].replace({'nb': 'North'})
df['Direction'] = df['Direction'].replace({'n': 'North'})
df['Direction'] = df['Direction'].replace({'sb': 'South'})
df['Direction'] = df['Direction'].replace({'s': 'South'})
df['Direction'] = df['Direction'].replace({'eb': 'East'})
df['Direction'] = df['Direction'].replace({'e': 'East'})
df['Direction'] = df['Direction'].replace({'wb': 'West'})
df['Direction'] = df['Direction'].replace({'w': 'West'})
df['Direction'] = df['Direction'].replace({'up': 'North'})
df['Direction'] = df['Direction'].replace({'down': 'South'})
df['Direction'] = df['Direction'].replace({'bothways': 'BothWay'})
df['Direction'] = df['Direction'].replace({'west': 'West'})
df['Direction'] = df['Direction'].replace({'east': 'East'})
df['Direction'] = df['Direction'].replace({'north': 'North'})
df['Direction'] = df['Direction'].replace({'south': 'South'})
df['Direction'] = df['Direction'].replace({'bothway': 'BothWay'})
df['Direction'] = df['Direction'].replace({'bws': 'BothWay'})
df['Direction'] = df['Direction'].replace({'bw': 'BothWay'})

df['Direction'] = df['Direction'].replace({'ew': 'East'})
df['Direction'] = df['Direction'].replace({'both': 'BothWay'})
df['Direction'] = df['Direction'].replace({'bb': 'BothWay'})
df['Direction'] = df['Direction'].replace({'nn': 'North'})
df['Direction'] = df['Direction'].replace({'bways': 'BothWay'})
df['Direction'] = df['Direction'].replace({'b': 'BothWay'})
df['Direction'] = df['Direction'].replace({'ns': 'BothWay'})
df['Direction'] = df['Direction'].replace({'sn': 'BothWay'})
df['Direction'] = df['Direction'].replace({'we': 'BothWay'})
df['Direction'] = df['Direction'].replace({'ew': 'BothWay'})


# Define valid values
valid_directions = ["North", "South", "West", "East", "BothWay"]

# Replace invalid values with "Unknown"
df.loc[~df['Direction'].isin(valid_directions), 'Direction'] = "Unknown"



# Define the ZIP file name
zip_filename = "TTC_Delay_Bus.zip"

# Create an in-memory buffer
csv_buffer = io.StringIO()

# Save DataFrame to the buffer as CSV
df.to_csv(csv_buffer, index=False)

# Write buffer content to a ZIP file
with zipfile.ZipFile(zip_filename, 'w', zipfile.ZIP_DEFLATED) as zipf:
    zipf.writestr("TTC_Delay_Bus.csv", csv_buffer.getvalue())


df

,Date,Route,Time,Day,Incident,Min Delay,Min Gap,Direction,Year,Month,Season
0,2014-01-01,95,00:23:00,Wednesday,Mechanical,10.0,20.0,East,2014,January,Winter
1,2014-01-01,102,00:55:00,Wednesday,General Delay,33.0,66.0,BothWay,2014,January,Winter
2,2014-01-01,54,01:28:00,Wednesday,Mechanical,10.0,20.0,West,2014,January,Winter
3,2014-01-01,112,01:30:00,Wednesday,Emergency Services,18.0,36.0,North,2014,January,Winter
4,2014-01-01,24,01:37:00,Wednesday,Investigation,10.0,20.0,North,2014,January,Winter
...,...,...,...,...,...,...,...,...,...,...,...
677077,2024-11-30,133,00:45,Saturday,Utilized Off Route,25.0,50.0,Unknown,2024,November,Fall
677078,2024-11-30,927,01:05,Saturday,Operations,20.0,40.0,Unknown,2024,November,Fall
677079,2024-11-30,904,01:13,Saturday,Operations,7.0,14.0,West,2024,November,Fall
677080,2024-11-30,36,01:19,Saturday,Emergency Services,15.0,29.0,South,2024,November,Fall
677081,2024-11-30,85,01:22,Saturday,Collision - TTC Involved,10.0,20.0,East,2024,November,Fall

In [37]:
df['Incident'].value_counts().head(30)

Incident
Mechanical                          242516
Utilized Off Route                   85045
General Delay                        73957
Late Leaving Garage                  68653
Investigation                        49789
Operations                           49736
Diversion                            38294
Emergency Services                   18474
Cleaning                             17177
Security                             12945
Collision - TTC Involved             12719
Vision                                4835
Road Blocked - NON-TTC Collision      2444
Held By Police                         498
Name: count, dtype: int64

In [1]:
import pandas as pd

In [6]:

file_path = "ttc-streetcar-delay-data-2014.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Strretcar_2014 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Strretcar_2014 = TTC_Delay_Strretcar_2014.reset_index(drop=True)
TTC_Delay_Strretcar_2014.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Strretcar_2014.to_csv('TTC_Delay_Strretcar_2014.csv', index=False)
TTC_Delay_Strretcar_2014

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2014-01-02,505,06:31:00,Thursday,Dundas and Roncesvalles,Late Leaving Garage,4.0,8.0,E/B,4018.0
1,2014-01-02,504,12:43:00,Thursday,King and Shaw,Utilized Off Route,20.0,22.0,E/B,4128.0
2,2014-01-02,501,14:01:00,Thursday,Kingston road and Bingham,Held By,13.0,19.0,W/B,4016.0
3,2014-01-02,504,14:22:00,Thursday,King St. and Roncesvalles Ave.,Investigation,7.0,11.0,W/B,4175.0
4,2014-01-02,504,16:42:00,Thursday,King and Bathurst,Utilized Off Route,3.0,6.0,E/B,4080.0
...,...,...,...,...,...,...,...,...,...,...
11022,2014-12-31,509,22:30:00,Wednesday,Union Loop to Exhibition Loop,General Delay,10.0,20.0,B/W,NaN
11023,2014-12-31,504,22:54:00,Wednesday,King and Dunn,Emergency Services,11.0,16.0,E/B,4128.0
11024,2014-12-31,505,23:00:00,Wednesday,Dundas West Station to Broadview Station,General Delay,10.0,12.0,B/W,NaN
11025,2014-12-31,511,23:01:00,Wednesday,CNE,Mechanical,8.0,16.0,N/B,4160.0
11026,2014-12-31,504,23:18:00,Wednesday,King and Bathurst,Mechanical,7.0,14.0,E/B,4128.0

In [7]:


file_path = "ttc-streetcar-delay-data-2015.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Strretcar_2015 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Strretcar_2015 = TTC_Delay_Strretcar_2015.reset_index(drop=True)
TTC_Delay_Strretcar_2015.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Strretcar_2015.to_csv('TTC_Delay_Strretcar_2015.csv', index=False)
TTC_Delay_Strretcar_2015

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2015-01-01,504,01:25:00,Thursday,Broadview and Gerrard,Mechanical,9.0,18.0,S/B,4092.0
1,2015-01-01,504,01:44:00,Thursday,Roncesvalles and Galley,Held By,14.0,23.0,S/B,4030.0
2,2015-01-01,504,02:04:00,Thursday,King and Sherborne,Mechanical,9.0,18.0,E/B,4147.0
3,2015-01-01,306,02:12:00,Thursday,Main St. and Upper Gerard,Investigation,29.0,39.0,S/B,4049.0
4,2015-01-01,306,05:05:00,Thursday,Gerrard and Sumach,Mechanical,30.0,60.0,W/B,4114.0
...,...,...,...,...,...,...,...,...,...,...
12216,2015-12-31,506,22:00:00,Thursday,College from Lansdown To Coxwell,General Delay,15.0,17.0,B/W,4661.0
12217,2015-12-31,506,22:00:00,Thursday,College landsdown to coxwell,General Delay,20.0,27.0,B/W,4020.0
12218,2015-12-31,509,22:00:00,Thursday,Union station to CNE,General Delay,15.0,20.0,B/W,4410.0
12219,2015-12-31,501,22:53:00,Thursday,Neville Park Loop to Long Branch Loop,General Delay,35.0,15.0,B/W,NaN
12220,2015-12-31,504,23:09:00,Thursday,King at Crawford,Investigation,36.0,41.0,W/B,4050.0

In [8]:
file_path = "ttc-streetcar-delay-data-2016.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Strretcar_2016 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Strretcar_2016 = TTC_Delay_Strretcar_2016.reset_index(drop=True)
TTC_Delay_Strretcar_2016.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Strretcar_2016.to_csv('TTC_Delay_Strretcar_2016.csv', index=False)
TTC_Delay_Strretcar_2016

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2016-01-01,505,00:00:00,Friday,Dundas West stnt to Broadview stn,General Delay,7.0,14.0,W/B,4028.0
1,2016-01-01,511,02:14:00,Friday,Fleet St. and Strachan Ave.,Mechanical,10.0,20.0,E/B,4018.0
2,2016-01-01,301,02:22:00,Friday,Queen St. West and Roncesvalles Ave.,Mechanical,9.0,18.0,W/B,4201.0
3,2016-01-01,301,03:28:00,Friday,Lake Shore Blvd. and Superior St.,Mechanical,20.0,40.0,E/B,4251.0
4,2016-01-01,501,14:28:00,Friday,Roncy to Neville Park,Mechanical,6.0,12.0,E/B,4242.0
...,...,...,...,...,...,...,...,...,...,...
14016,2016-12-31,504,21:54:00,Saturday,Broadview Station Loop to Dundas West Station ...,General Delay,8.0,10.0,B/W,NaN
14017,2016-12-31,514,21:57:00,Saturday,Distillery Loop to Dufferin Loop,General Delay,8.0,20.0,B/W,NaN
14018,2016-12-31,505,23:00:00,Saturday,Dundas at Yonge,General Delay,20.0,30.0,B/W,4112.0
14019,2016-12-31,510,23:00:00,Saturday,Spadina Station,General Delay,10.0,16.0,B/W,4408.0
14020,2016-12-31,501,23:30:00,Saturday,King and John,Held By,5.0,15.0,W/B,4015.0

In [9]:
file_path = "ttc-streetcar-delay-data-2017.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Strretcar_2017 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Strretcar_2017 = TTC_Delay_Strretcar_2017.reset_index(drop=True)
TTC_Delay_Strretcar_2017.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Strretcar_2017.to_csv('TTC_Delay_Strretcar_2017.csv', index=False)
TTC_Delay_Strretcar_2017

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2017-01-01,509,00:49:00,Sunday,Spadina and Queens Quay,Mechanical,7.0,14.0,N/B,4426.0
1,2017-01-01,501,01:07:00,Sunday,Lakeshore and Kipling,Mechanical,32.0,44.0,W/B,4071.0
2,2017-01-01,505,01:09:00,Sunday,Dundas and Howard Park,Mechanical,10.0,20.0,W/B,4179.0
3,2017-01-01,506,01:15:00,Sunday,High Park,Mechanical,10.0,20.0,E/B,4059.0
4,2017-01-01,506,01:18:00,Sunday,Parliament,Emergency Services,10.0,20.0,E/B,4106.0
...,...,...,...,...,...,...,...,...,...,...
13757,2017-12-31,501,19:58:00,Sunday,Queen,General Delay,7.0,15.0,B/W,NaN
13758,2017-12-31,501,21:15:00,Sunday,Queen and Neville park,Mechanical,12.0,24.0,W/B,4110.0
13759,2017-12-31,501,21:44:00,Sunday,Queen and Dufferin,Mechanical,12.0,24.0,W/B,1419.0
13760,2017-12-31,510,22:15:00,Sunday,Spadina and King,Mechanical,5.0,10.0,S/B,4447.0
13761,2017-12-31,505,22:30:00,Sunday,Broadview and Gerrard,Mechanical,8.0,16.0,N/B,4167.0

In [10]:
file_path = "ttc-streetcar-delay-data-2018.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Strretcar_2018 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Strretcar_2018 = TTC_Delay_Strretcar_2018.reset_index(drop=True)
TTC_Delay_Strretcar_2018.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Strretcar_2018.to_csv('TTC_Delay_Strretcar_2018.csv', index=False)
TTC_Delay_Strretcar_2018

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2018-01-01,512,00:11:00,Monday,St Clair station,Mechanical,10.0,20.0,W/B,4441.0
1,2018-01-01,501,00:14:00,Monday,Queen and Neville loop,Mechanical,12.0,24.0,E/B,4091.0
2,2018-01-01,501,01:51:00,Monday,Lakeshore and Long branch,Mechanical,8.0,16.0,W/B,8039.0
3,2018-01-01,301,03:14:00,Monday,Queen and Roncy,Mechanical,12.0,24.0,W/B,4024.0
4,2018-01-01,505,03:27:00,Monday,Dundas West Station,Mechanical,42.0,53.0,E/B,4004.0
...,...,...,...,...,...,...,...,...,...,...
15607,2018-12-31,504,21:53:00,Monday,Berkeley,Held By,18.0,23.0,W/B,4464.0
15608,2018-12-31,506,22:05:00,Monday,Coxwell and Upper Gerard,Mechanical,8.0,14.0,E/B,4150.0
15609,2018-12-31,501,22:09:00,Monday,Neville Loop,Mechanical,8.0,17.0,E/B,4024.0
15610,2018-12-31,501,23:23:00,Monday,Spadina/Lakeshore,Investigation,8.0,17.0,S/B,4066.0
15611,2018-12-31,506,23:33:00,Monday,Main Station,Mechanical,8.0,16.0,W/B,4176.0

In [12]:
file_path = "ttc-streetcar-delay-data-2019.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Strretcar_2019 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Strretcar_2019 = TTC_Delay_Strretcar_2019.reset_index(drop=True)
TTC_Delay_Strretcar_2019.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Strretcar_2019.to_csv('TTC_Delay_Strretcar_2019.csv', index=False)
TTC_Delay_Strretcar_2019

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2019-01-01,301,1900-01-01 01:08:00,Tuesday,Queen/Braodview,Held By,6.0,13.0,E/B,4193.0
1,2019-01-01,511,1900-01-01 01:30:00,Tuesday,Bathurst/College,Investigation,5.0,10.0,N/B,1038.0
2,2019-01-01,306,1900-01-01 01:40:00,Tuesday,Dundas West stn.,Mechanical,8.0,16.0,W/B,4146.0
3,2019-01-01,505,1900-01-01 03:10:00,Tuesday,Lansdowne and Dundas,Mechanical,6.0,12.0,E/B,8416.0
4,2019-01-01,310,1900-01-01 03:55:00,Tuesday,Spadina and Lakshore,Held By,20.0,30.0,N/B,4465.0
...,...,...,...,...,...,...,...,...,...,...
11877,2019-12-31,505,1900-01-01 20:00:00,Tuesday,Parliament,General Delay,18.0,23.0,W/B,1262.0
11878,2019-12-31,505,1900-01-01 20:32:00,Tuesday,Broadview Station,Emergency Services,5.0,10.0,W/B,3104.0
11879,2019-12-31,501,1900-01-01 22:32:00,Tuesday,Humber Loop,Held By,5.0,10.0,E/B,4576.0
11880,2019-12-31,506,1900-01-01 23:20:00,Tuesday,Carlton and Parliament,General Delay,20.0,26.0,E/B,4498.0
11881,2019-12-31,511,1900-01-01 23:36:00,Tuesday,Bathurst Station,Held By,7.0,14.0,S/B,4583.0

In [14]:
file_path = "ttc-streetcar-delay-data-2020.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Strretcar_2020 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Strretcar_2020 = TTC_Delay_Strretcar_2020.reset_index(drop=True)
TTC_Delay_Strretcar_2020.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Strretcar_2020.to_csv('TTC_Delay_Strretcar_2020.csv', index=False)
TTC_Delay_Strretcar_2020

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2020-01-01,504,01:23:00,Wednesday,King and Dufferin,Mechanical,8.0,16.0,E/B,4446.0
1,2020-01-01,512,04:40:00,Wednesday,Queen/Parliament,Mechanical,23.0,46.0,W/B,4541.0
2,2020-01-01,504,06:17:00,Wednesday,Roncesvalles and Queen,Mechanical,6.0,14.0,W/B,4576.0
3,2020-01-01,504,07:50:00,Wednesday,King/Church,Mechanical,10.0,20.0,W/B,4486.0
4,2020-01-01,504,08:09:00,Wednesday,Queeen/ Roncesvalles,Mechanical,8.0,16.0,E/B,4504.0
...,...,...,...,...,...,...,...,...,...,...
7825,2020-12-31,509,18:27,Thursday,BATHURST AND HARBOURFR,Held By,11.0,21.0,E,4552.0
7826,2020-12-31,510,22:21,Thursday,SPADINA AND QUEENSQUAY,Held By,25.0,34.0,S,4417.0
7827,2020-12-31,501,22:57,Thursday,QUEEN AND DUFFERIN,Emergency Services,21.0,31.0,W,4573.0
7828,2020-12-31,506,00:19,Thursday,DUNDAS AND BAY,General Delay,16.0,25.0,W,4429.0
7829,2020-12-31,501,01:56,Thursday,QUEEN AND OSSINGTON,Cleaning,10.0,20.0,E,4442.0

In [20]:
file_path = "ttc-streetcar-delay-data-2021.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Strretcar_2021 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Strretcar_2021 = TTC_Delay_Strretcar_2021.reset_index(drop=True)
TTC_Delay_Strretcar_2021.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Strretcar_2021.rename(columns={'Line': 'Route'}, inplace=True)
TTC_Delay_Strretcar_2021.rename(columns={'Bound': 'Direction'}, inplace=True)
TTC_Delay_Strretcar_2021.to_csv('TTC_Delay_Strretcar_2021.csv', index=False)
TTC_Delay_Strretcar_2021

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2021-01-01,501,03:15,Friday,QUEEN AND MCCAUL,Operations,19,24,W,4574
1,2021-01-01,504,03:37,Friday,BROADVIEW AND QUEEN,Operations,15,30,NaN,4500
2,2021-01-01,504,04:00,Friday,BROADVIEW STATION,Cleaning,15,30,S,4589
3,2021-01-01,504,04:03,Friday,DUNDAS WEST STATION,Cleaning,15,30,W,4582
4,2021-01-01,506,05:37,Friday,MAIN STATION,Mechanical,10,20,N,3480
...,...,...,...,...,...,...,...,...,...,...
14591,2021-12-31,510,00:39,Friday,SPADINA AND QUEEN,General Delay,0,0,B,0
14592,2021-12-31,504,00:51,Friday,WILSON GARAGE,Operations,5,10,NaN,0
14593,2021-12-31,509,01:19,Friday,CNE LOOP,Operations,8,16,NaN,4553
14594,2021-12-31,503,01:22,Friday,QUEEN AND CONNAUGHT,Operations,8,17,NaN,4459
14595,2021-12-31,505,01:53,Friday,KINGSTON AND QUEEN,Emergency Services,9,18,E,4593

In [21]:
file_path = "ttc-streetcar-delay-data-2022.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Strretcar_2022 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Strretcar_2022 = TTC_Delay_Strretcar_2022.reset_index(drop=True)
TTC_Delay_Strretcar_2022.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Strretcar_2022.rename(columns={'Line': 'Route'}, inplace=True)
TTC_Delay_Strretcar_2022.rename(columns={'Bound': 'Direction'}, inplace=True)
TTC_Delay_Strretcar_2022.to_csv('TTC_Delay_Strretcar_2022.csv', index=False)
TTC_Delay_Strretcar_2022

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2022-01-01,504,02:21,Saturday,BROADVIEW STATION,Collision - TTC Involved,30,60,E,8333
1,2022-01-01,501,03:22,Saturday,718 QUEEN ST EAST,Operations,16,35,W,8068
2,2022-01-01,504,03:28,Saturday,BROADVIEW STATION,Operations,18,36,S,0
3,2022-01-01,510,03:34,Saturday,UNION STATION,Operations,30,60,NaN,4406
4,2022-01-01,301,03:39,Saturday,LAKESHORE AND TENTH,Security,5,25,W,8622
...,...,...,...,...,...,...,...,...,...,...
17650,2022-12-31,504,01:20,Saturday,KING AND PORTLAND,Cleaning - Unsanitary,10,20,E,4588
17651,2022-12-31,510,01:24,Saturday,UNION STATION,Security,10,20,N,4463
17652,2022-12-31,501,01:42,Saturday,KINGSTON LOOP,Security,0,0,NaN,4534
17653,2022-12-31,504,01:46,Saturday,KING AND PETER,Cleaning - Unsanitary,10,20,W,4431
17654,2022-12-31,504,01:47,Saturday,KING AND SIMCOE,Diversion,23,33,W,4523

In [22]:
file_path = "ttc-streetcar-delay-data-2023.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Strretcar_2023 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Strretcar_2023 = TTC_Delay_Strretcar_2023.reset_index(drop=True)
TTC_Delay_Strretcar_2023.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Strretcar_2023.rename(columns={'Line': 'Route'}, inplace=True)
TTC_Delay_Strretcar_2023.rename(columns={'Bound': 'Direction'}, inplace=True)
TTC_Delay_Strretcar_2023.to_csv('TTC_Delay_Strretcar_2023.csv', index=False)
TTC_Delay_Strretcar_2023

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2023-01-01,509,02:37,Sunday,QUEENS QUAY AND SPADIN,Operations,0,0,E,4403
1,2023-01-01,505,02:40,Sunday,BROADVIEW AND GERRARD,Held By,15,25,W,4460
2,2023-01-01,504,02:52,Sunday,KING AND BATHURST,Cleaning - Unsanitary,10,20,W,4427
3,2023-01-01,504,02:59,Sunday,KING AND BATHURST,Held By,25,35,E,4560
4,2023-01-01,509,03:33,Sunday,QUEENS QUAY AND SPADIN,Operations,0,0,E,4570
...,...,...,...,...,...,...,...,...,...,...
14408,2023-12-31,503,01:14,Sunday,KING AND SHERBOURNE,Cleaning - Unsanitary,10,20,W,4580
14409,2023-12-31,511,01:15,Sunday,FLEET AND BASTION,Operations,10,20,N,4415
14410,2023-12-31,506,01:27,Sunday,MAIN STATION,Emergency Services,10,20,W,4503
14411,2023-12-31,505,01:29,Sunday,KINGSTON RD LOOP,Security,10,20,NaN,4558
14412,2023-12-31,505,01:33,Sunday,KINGSTON LOOP,Security,45,0,NaN,4444

In [23]:
file_path = "ttc-streetcar-delay-data-2024.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Strretcar_2024 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Strretcar_2024 = TTC_Delay_Strretcar_2024.reset_index(drop=True)
TTC_Delay_Strretcar_2024.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Strretcar_2024.rename(columns={'Line': 'Route'}, inplace=True)
TTC_Delay_Strretcar_2024.rename(columns={'Bound': 'Direction'}, inplace=True)
TTC_Delay_Strretcar_2024.to_csv('TTC_Delay_Strretcar_2024.csv', index=False)
TTC_Delay_Strretcar_2024

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2024-01-01,505,02:45,Monday,DUNDAS AND MCCAUL,Security,10,20,W,4416
1,2024-01-01,505,03:06,Monday,COLLEGE AND GLADSTONE,Emergency Services,52,72,E,4461
2,2024-01-01,503,03:21,Monday,PARLIAMENT AND SHUTTER,Security,0,0,N,4545
3,2024-01-01,505,03:53,Monday,DUNDAS WEST STATION,Security,37,0,W,4551
4,2024-01-01,600,04:27,Monday,QUEEN AND BATHURST,Diversion,78,93,E,8116
...,...,...,...,...,...,...,...,...,...,...
13103,2024-11-30,501,22:53,Saturday,QUEEN AND UNIVERSITY,Diversion,88,98,NaN,4514
13104,2024-11-30,511,23:57,Saturday,GERRARD AND HAMILTON,Collision - TTC Involved,0,0,E,4466
13105,2024-11-30,505,23:57,Saturday,DUNDAS AND JARVIS,Diversion,10,20,E,4575
13106,2024-11-30,501,00:42,Saturday,QUEEN AND STRACHAN,Cleaning - Unsanitary,10,20,W,4629
13107,2024-11-30,505,01:16,Saturday,DUNDAS AND YONGE,Collision - TTC Involved,0,0,W,4497

In [35]:
import pandas as pd
import glob

# List all CSV files from 2014 to 2024
file_paths = [f"TTC_Delay_Strretcar_{year}.csv" for year in range(2014, 2025)]

# Read and combine all files
df_list = [pd.read_csv(file) for file in file_paths]
df = pd.concat(df_list, ignore_index=True)


# Convert 'Date' column to datetime format (assuming 'Date' exists)
df['Date'] = pd.to_datetime(df['Date'])

# Extract Year and Month
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.strftime('%B')

# Define a function to assign seasons based on month names
def get_season(month):
    if month in ["December", "January", "February"]:
        return "Winter"
    elif month in ["March", "April", "May"]:
        return "Spring"
    elif month in ["June", "July", "August"]:
        return "Summer"
    else:
        return "Fall"




# Apply the function to create a 'Season' column
df['Season'] = df['Month'].apply(get_season)

df = df[df['Min Delay']>0]

df = df.drop_duplicates()

# Remove rows where 'Route' is NaN
df = df.dropna(subset=['Route', 'Incident'])

# Reset index after dropping rows
df = df.reset_index(drop=True)


# List of columns to drop
columns_to_drop = ['Vehicle', 'Location']  # Replace with actual column names


# Drop the selected columns
df = df.drop(columns=columns_to_drop)



df = df[df['Incident']!='e']
df = df[df['Incident']!='Late']
df = df[df['Incident']!='Late  ']
df = df[df['Incident']!='Management']

df['Incident'] = df['Incident'].replace({'Held By': 'Held By Police'})

df['Incident'] = df['Incident'].replace({'Cleaning - Unsanitary': 'Cleaning'})
df['Incident'] = df['Incident'].replace({'Cleaning - Disinfection': 'Cleaning'})

df['Incident'] = df['Incident'].replace({'Overhead - Pantograph': 'Overhead'})


df = df.reset_index(drop=True)

df['Direction'] = df['Direction'].str.lower().str.replace(r'[/.\s]', '', regex=True)
df['Direction'] = df['Direction'].str.lower().str.replace(r"[^a-z]", "", regex=True)

df['Direction'] = df['Direction'].replace({'westbound': 'West'})
df['Direction'] = df['Direction'].replace({'w': 'West'})
df['Direction'] = df['Direction'].replace({'wb': 'West'})
df['Direction'] = df['Direction'].replace({'e': 'East'})
df['Direction'] = df['Direction'].replace({'eb': 'East'})
df['Direction'] = df['Direction'].replace({'eastbound': 'East'})

df['Direction'] = df['Direction'].replace({'n': 'North'})
df['Direction'] = df['Direction'].replace({'nb': 'North'})
df['Direction'] = df['Direction'].replace({'northbound': 'North'})

df['Direction'] = df['Direction'].replace({'s': 'South'})
df['Direction'] = df['Direction'].replace({'sb': 'South'})
df['Direction'] = df['Direction'].replace({'southbound': 'South'})

df['Direction'] = df['Direction'].replace({'bw': 'BothWay'})
df['Direction'] = df['Direction'].replace({'b': 'BothWay'})
df['Direction'] = df['Direction'].replace({'ebwb': 'BothWay'})
df['Direction'] = df['Direction'].replace({'ew': 'BothWay'})

df = df.reset_index(drop=True)

# Define valid values
valid_directions = ["North", "South", "West", "East", "BothWay"]

# Replace invalid values with "Unknown"
df.loc[~df['Direction'].isin(valid_directions), 'Direction'] = "Unknown"



# Define the ZIP file name
zip_filename = "TTC_Delay_Streetcar.zip"

# Create an in-memory buffer
csv_buffer = io.StringIO()

# Save DataFrame to the buffer as CSV
df.to_csv(csv_buffer, index=False)

# Write buffer content to a ZIP file
with zipfile.ZipFile(zip_filename, 'w', zipfile.ZIP_DEFLATED) as zipf:
    zipf.writestr("TTC_Delay_Streetcar.csv", csv_buffer.getvalue())





df

,Date,Route,Time,Day,Incident,Min Delay,Min Gap,Direction,Year,Month,Season
0,2014-01-02,505,06:31:00,Thursday,Late Leaving Garage,4.0,8.0,East,2014,January,Winter
1,2014-01-02,504,12:43:00,Thursday,Utilized Off Route,20.0,22.0,East,2014,January,Winter
2,2014-01-02,501,14:01:00,Thursday,Held By Police,13.0,19.0,West,2014,January,Winter
3,2014-01-02,504,14:22:00,Thursday,Investigation,7.0,11.0,West,2014,January,Winter
4,2014-01-02,504,16:42:00,Thursday,Utilized Off Route,3.0,6.0,East,2014,January,Winter
...,...,...,...,...,...,...,...,...,...,...,...
138052,2024-11-30,510,20:03,Saturday,Mechanical,10.0,20.0,North,2024,November,Fall
138053,2024-11-30,506,21:46,Saturday,Emergency Services,33.0,43.0,East,2024,November,Fall
138054,2024-11-30,501,22:53,Saturday,Diversion,88.0,98.0,Unknown,2024,November,Fall
138055,2024-11-30,505,23:57,Saturday,Diversion,10.0,20.0,East,2024,November,Fall
138056,2024-11-30,501,00:42,Saturday,Cleaning,10.0,20.0,West,2024,November,Fall

In [4]:
df['Direction'].value_counts().head(30)

Direction
West       51151
East       49879
South      11680
North      11525
Unknown     8637
BothWay     5412
Name: count, dtype: int64

In [11]:
file_path = "ttc-subway-delay-data-2017.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Subway_2017 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Subway_2017 = TTC_Delay_Subway_2017.reset_index(drop=True)
TTC_Delay_Subway_2017.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Subway_2017.rename(columns={'Line': 'Route'}, inplace=True)
TTC_Delay_Subway_2017.rename(columns={'Bound': 'Direction'}, inplace=True)
TTC_Delay_Subway_2017.to_csv('TTC_Delay_Subway_2017.csv', index=False)
TTC_Delay_Subway_2017.sort_values(by='Date')

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Direction,Route,Vehicle
1674,2014-01-01,20:00,Wednesday,FINCH STATION,MUNOA,4,8,S,YU,0
1658,2014-01-01,09:38,Wednesday,BAY STATION,SUDP,5,10,E,BD,5214
1659,2014-01-01,09:38,Wednesday,FINCH STATION,MUNOA,0,0,S,YU,5681
1660,2014-01-01,10:25,Wednesday,COXWELL STATION,MUTO,5,11,W,BD,5315
1661,2014-01-01,10:52,Wednesday,ST CLAIR WEST STATION,MUSC,0,0,N,YU,5362
...,...,...,...,...,...,...,...,...,...,...
81889,2017-12-31,08:39,Sunday,BATHURST STATION,SUUT,15,19,W,BD,5269
81888,2017-12-31,08:36,Sunday,EGLINTON STATION,EUDO,3,8,N,YU,5426
81887,2017-12-31,08:09,Sunday,BLOOR STATION,EUDO,9,0,S,YU,5636
81895,2017-12-31,09:38,Sunday,VAUGHAN MC STATION,EUATC,4,9,N,YU,5846
81944,2017-12-31,23:59,Sunday,LAWRENCE STATION,SUUT,0,0,N,YU,6136

In [6]:
file_path = "ttc-subway-delay-data-2018.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Subway_2018 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Subway_2018 = TTC_Delay_Subway_2018.reset_index(drop=True)
TTC_Delay_Subway_2018.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Subway_2018.rename(columns={'Line': 'Route'}, inplace=True)
TTC_Delay_Subway_2018.rename(columns={'Bound': 'Direction'}, inplace=True)
TTC_Delay_Subway_2018.to_csv('TTC_Delay_Subway_2018.csv', index=False)
TTC_Delay_Subway_2018

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Direction,Route,Vehicle
0,2018-01-01,00:29,Monday,SHEPPARD WEST STATION,MUATC,10,15,N,YU,5986
1,2018-01-01,01:07,Monday,DUNDAS STATION,MUNCA,0,0,NaN,YU,0
2,2018-01-01,01:22,Monday,MUSEUM STATION,MUSC,0,0,N,YU,5751
3,2018-01-01,01:28,Monday,BAY LOWER,EUOE,0,0,NaN,BD,5222
4,2018-01-01,01:39,Monday,MUSEUM STATION,MUO,6,11,S,YU,5781
...,...,...,...,...,...,...,...,...,...,...
20732,2018-12-31,22:34,Monday,DUNDAS STATION,PUMST,0,0,NaN,YU,0
20733,2018-12-31,22:36,Monday,DUNDAS STATION,SUDP,3,6,N,YU,5881
20734,2018-12-31,23:08,Monday,BLOOR STATION,MUIRS,0,0,NaN,YU,0
20735,2018-12-31,23:21,Monday,QUEEN'S PARK STATION,TUSC,0,0,S,YU,5841
20736,2018-12-31,23:32,Monday,ST CLAIR STATION,MUPAA,0,0,S,YU,6061

In [7]:
file_path = "ttc-subway-delay-data-2019.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Subway_2019 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Subway_2019 = TTC_Delay_Subway_2019.reset_index(drop=True)
TTC_Delay_Subway_2019.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Subway_2019.rename(columns={'Line': 'Route'}, inplace=True)
TTC_Delay_Subway_2019.rename(columns={'Bound': 'Direction'}, inplace=True)
TTC_Delay_Subway_2019.to_csv('TTC_Delay_Subway_2019.csv', index=False)
TTC_Delay_Subway_2019

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Direction,Route,Vehicle
0,2019-01-01,01:08,Tuesday,YORK MILLS STATION,PUSI,0,0,S,YU,5766
1,2019-01-01,02:14,Tuesday,ST ANDREW STATION,PUMST,0,0,NaN,YU,0
2,2019-01-01,02:16,Tuesday,JANE STATION,TUSC,0,0,W,BD,5117
3,2019-01-01,02:27,Tuesday,BLOOR STATION,SUO,0,0,N,YU,5436
4,2019-01-01,03:03,Tuesday,DUPONT STATION,MUATC,11,16,N,YU,6061
...,...,...,...,...,...,...,...,...,...,...
19217,2019-12-31,22:54,Tuesday,FINCH STATION,SUAP,0,0,NaN,YU,0
19218,2019-12-31,23:09,Tuesday,SHERBOURNE STATION,EUBK,0,0,W,BD,5234
19219,2019-12-31,23:12,Tuesday,ST CLAIR WEST STATION,SUDP,0,0,NaN,YU,0
19220,2019-12-31,23:16,Tuesday,FINCH STATION,MUSC,0,0,S,YU,6066
19221,2019-12-31,23:32,Tuesday,KING STATION,MUIRS,0,0,S,YU,0

In [8]:
file_path = "ttc-subway-delay-data-2020.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Subway_2020 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Subway_2020 = TTC_Delay_Subway_2020.reset_index(drop=True)
TTC_Delay_Subway_2020.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Subway_2020.rename(columns={'Line': 'Route'}, inplace=True)
TTC_Delay_Subway_2020.rename(columns={'Bound': 'Direction'}, inplace=True)
TTC_Delay_Subway_2020.to_csv('TTC_Delay_Subway_2020.csv', index=False)
TTC_Delay_Subway_2020

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Direction,Route,Vehicle
0,2020-01-01,01:18,Wednesday,KENNEDY SRT STATION,SRDP,8,13,N,SRT,3025
1,2020-01-01,01:27,Wednesday,SHEPPARD WEST STATION,MUI,7,12,S,YU,5591
2,2020-01-01,02:22,Wednesday,MAIN STREET STATION,EUNT,3,7,W,BD,5371
3,2020-01-01,03:54,Wednesday,KIPLING STATION,MUIS,0,0,E,BD,5243
4,2020-01-01,08:07,Wednesday,KEELE STATION,MUNOA,4,9,W,BD,5011
...,...,...,...,...,...,...,...,...,...,...
14777,2020-12-31,22:21,Thursday,VICTORIA PARK STATION,MUO,3,9,W,BD,5089
14778,2020-12-31,22:35,Thursday,SPADINA BD STATION,MUIS,0,0,NaN,BD,0
14779,2020-12-31,23:23,Thursday,BAY STATION,SUUT,9,15,E,BD,5311
14780,2020-12-31,23:34,Thursday,QUEEN STATION,MUPAA,0,0,S,YU,5976
14781,2020-12-31,23:56,Thursday,SHEPPARD-YONGE STATION,TUSC,0,0,E,SHP,6176

In [9]:
file_path = "ttc-subway-delay-data-2021.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Subway_2021 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Subway_2021 = TTC_Delay_Subway_2021.reset_index(drop=True)
TTC_Delay_Subway_2021.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Subway_2021.rename(columns={'Line': 'Route'}, inplace=True)
TTC_Delay_Subway_2021.rename(columns={'Bound': 'Direction'}, inplace=True)
TTC_Delay_Subway_2021.to_csv('TTC_Delay_Subway_2021.csv', index=False)
TTC_Delay_Subway_2021

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Direction,Route,Vehicle
0,2021-01-01,00:33,Friday,BLOOR STATION,MUPAA,0,0,N,YU,6046
1,2021-01-01,00:39,Friday,SHERBOURNE STATION,EUCO,5,9,E,BD,5250
2,2021-01-01,01:07,Friday,KENNEDY BD STATION,EUCD,5,9,E,BD,5249
3,2021-01-01,01:41,Friday,ST CLAIR STATION,MUIS,0,0,NaN,YU,0
4,2021-01-01,02:04,Friday,SHEPPARD WEST STATION,MUIS,0,0,NaN,YU,0
...,...,...,...,...,...,...,...,...,...,...
16365,2021-12-31,01:10,Friday,MUSEUM STATION,SUUT,0,0,N,YU,5591
16366,2021-12-31,01:12,Friday,FINCH STATION,SUDP,5,10,S,YU,5983
16367,2021-12-31,01:21,Friday,EGLINTON WEST STATION,PUOPO,3,8,N,YU,6046
16368,2021-12-31,01:37,Friday,SHEPPARD WEST STATION,SUDP,0,0,S,YU,5536
16369,2021-12-31,07:00,Friday,DON MILLS STATION,TUSC,0,0,E,SHP,6146

In [10]:
file_path = "ttc-subway-delay-data-2022.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Subway_2022 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Subway_2022 = TTC_Delay_Subway_2022.reset_index(drop=True)
TTC_Delay_Subway_2022.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Subway_2022.rename(columns={'Line': 'Route'}, inplace=True)
TTC_Delay_Subway_2022.rename(columns={'Bound': 'Direction'}, inplace=True)
TTC_Delay_Subway_2022.to_csv('TTC_Delay_Subway_2022.csv', index=False)
TTC_Delay_Subway_2022

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Direction,Route,Vehicle
0,2022-01-01,15:59,Saturday,LAWRENCE EAST STATION,SRDP,0,0,N,SRT,3023
1,2022-01-01,02:23,Saturday,SPADINA BD STATION,MUIS,0,0,NaN,BD,0
2,2022-01-01,22:00,Saturday,KENNEDY SRT STATION TO,MRO,0,0,NaN,SRT,0
3,2022-01-01,02:28,Saturday,VAUGHAN MC STATION,MUIS,0,0,NaN,YU,0
4,2022-01-01,02:34,Saturday,EGLINTON STATION,MUATC,0,0,S,YU,5981
...,...,...,...,...,...,...,...,...,...,...
19890,2022-12-31,01:20,Saturday,BAY STATION,SUUT,16,22,E,BD,5089
19891,2022-12-31,01:31,Saturday,SHEPPARD WEST STATION,EUAC,23,29,N,YU,5656
19892,2022-12-31,01:33,Saturday,BAY STATION,MUPAA,0,0,E,BD,5313
19893,2022-12-31,01:49,Saturday,YONGE BD STATION,MUPAA,3,9,E,BD,5211
19894,2022-12-31,12:52,Saturday,DON MILLS STATION,TUSC,0,0,W,SHP,6166

In [12]:
file_path = "ttc-subway-delay-data-2023.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Subway_2023 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Subway_2023 = TTC_Delay_Subway_2023.reset_index(drop=True)
TTC_Delay_Subway_2023.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Subway_2023.rename(columns={'Line': 'Route'}, inplace=True)
TTC_Delay_Subway_2023.rename(columns={'Bound': 'Direction'}, inplace=True)
TTC_Delay_Subway_2023.to_csv('TTC_Delay_Subway_2023.csv', index=False)
TTC_Delay_Subway_2023

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Direction,Route,Vehicle
0,2023-01-01,02:22,Sunday,MUSEUM STATION,MUPAA,3,9,S,YU,5931
1,2023-01-01,02:30,Sunday,KIPLING STATION,MUIS,0,0,E,BD,5341
2,2023-01-01,02:33,Sunday,WARDEN STATION,SUO,0,0,W,BD,0
3,2023-01-01,03:17,Sunday,KEELE STATION,MUIS,0,0,NaN,BD,0
4,2023-01-01,07:16,Sunday,BATHURST STATION,MUIS,0,0,NaN,BD,0
...,...,...,...,...,...,...,...,...,...,...
22944,2023-12-31,12:25,Sunday,SHEPPARD-YONGE STATION,MUIR,7,14,W,SHP,6196
22945,2023-12-31,13:53,Sunday,BAYVIEW STATION,TUSC,0,0,E,SHP,6191
22946,2023-12-31,14:57,Sunday,SHEPPARD-YONGE STATION,MUO,51,58,W,SHP,6171
22947,2023-12-31,15:15,Sunday,BAYVIEW STATION,TUOPO,7,14,E,SHP,6141
22948,2023-12-31,20:52,Sunday,DON MILLS STATION,PUMEL,0,0,NaN,SHP,0

In [13]:
file_path = "ttc-subway-delay-data-2024.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Subway_2024 = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Subway_2024 = TTC_Delay_Subway_2024.reset_index(drop=True)
TTC_Delay_Subway_2024.rename(columns={'Report Date': 'Date'}, inplace=True)
TTC_Delay_Subway_2024.rename(columns={'Line': 'Route'}, inplace=True)
TTC_Delay_Subway_2024.rename(columns={'Bound': 'Direction'}, inplace=True)
TTC_Delay_Subway_2024.to_csv('TTC_Delay_Subway_2024.csv', index=False)
TTC_Delay_Subway_2024

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Direction,Route,Vehicle
0,2024-01-01,02:00,Monday,SHEPPARD STATION,MUI,0,0,N,YU,5491
1,2024-01-01,02:00,Monday,DUNDAS STATION,MUIS,0,0,N,YU,0
2,2024-01-01,02:08,Monday,DUNDAS STATION,MUPAA,4,10,N,YU,6051
3,2024-01-01,02:13,Monday,KENNEDY BD STATION,PUTDN,10,16,E,BD,5284
4,2024-01-01,02:22,Monday,BLOOR STATION,MUPAA,4,10,N,YU,5986
...,...,...,...,...,...,...,...,...,...,...
24117,2024-11-30,10:30,Saturday,ISLINGTON STATION,TUSC,0,0,W,SHP,5067
24118,2024-11-30,15:26,Saturday,SHEPPARD-YONGE STATION,MUIRS,0,0,NaN,SHP,0
24119,2024-11-30,21:19,Saturday,LESLIE STATION,TUO,7,14,W,SHP,6171
24120,2024-11-30,23:59,Saturday,SHEPPARD-YONGE STATION,PUSO,0,0,W,SHP,6181
24121,2024-11-30,00:30,Saturday,SHEPPARD STATION,MUIS,0,0,NaN,SHP,0

In [18]:
import pandas as pd
import glob

# List all CSV files from 2014 to 2024
file_paths = [f"TTC_Delay_Subway_{year}.csv" for year in range(2017, 2025)]

# Read and combine all files
df_list = [pd.read_csv(file) for file in file_paths]
df = pd.concat(df_list, ignore_index=True)


# Convert 'Date' column to datetime format (assuming 'Date' exists)
df['Date'] = pd.to_datetime(df['Date'])

# Extract Year and Month
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.strftime('%B')

# Define a function to assign seasons based on month names
def get_season(month):
    if month in ["December", "January", "February"]:
        return "Winter"
    elif month in ["March", "April", "May"]:
        return "Spring"
    elif month in ["June", "July", "August"]:
        return "Summer"
    else:
        return "Fall"




# Apply the function to create a 'Season' column
df['Season'] = df['Month'].apply(get_season)

df = df[df['Min Delay']>0]

df = df.drop_duplicates()

# Remove rows where 'Route' is NaN
df = df.dropna(subset=['Route', 'Code'])

# Reset index after dropping rows
df = df.reset_index(drop=True)


# List of columns to drop
columns_to_drop = ['Vehicle']  # Replace with actual column names


# Drop the selected columns
df = df.drop(columns=columns_to_drop)


# Define valid values

Routes_selected = ["YU", "BD", "SRT", "SHP"]

df = df[df['Route'].isin(Routes_selected)]


df['Direction'] = df['Direction'].str.lower().str.replace(r"[^a-z]", "", regex=True)

df['Direction'] = df['Direction'].replace({'s': 'South'})
df['Direction'] = df['Direction'].replace({'w': 'West'})
df['Direction'] = df['Direction'].replace({'n': 'North'})
df['Direction'] = df['Direction'].replace({'e': 'East'})

# Define valid values
valid_directions = ["North", "South", "West", "East"]

df = df[df['Direction'].isin(valid_directions)]

df = df.reset_index(drop=True)


file_path = "ttc-subway-delay-codes.xlsx"
sheets_dict = pd.read_excel(file_path, sheet_name=None)

TTC_Delay_Subway_codes = pd.concat(sheets_dict.values(), keys=sheets_dict.keys(), names=["Sheet", "Row"])
TTC_Delay_Subway_codes = TTC_Delay_Subway_codes.reset_index(drop=True)

df = df.merge(TTC_Delay_Subway_codes[['Route', 'Code', 'Incident']], on=['Route', 'Code'], how='left')

columns_order = ['Date', 'Route', 'Time', 'Day', 'Incident', 'Min Delay', 'Min Gap', 'Direction', 'Year', 'Month', 'Season']

df = df[columns_order]
# Define the ZIP file name
zip_filename = "TTC_Delay_Subway.zip"

# Create an in-memory buffer
csv_buffer = io.StringIO()

# Save DataFrame to the buffer as CSV
df.to_csv(csv_buffer, index=False)

# Write buffer content to a ZIP file
with zipfile.ZipFile(zip_filename, 'w', zipfile.ZIP_DEFLATED) as zipf:
    zipf.writestr("TTC_Delay_Subway.csv", csv_buffer.getvalue())



df

,Date,Route,Time,Day,Incident,Min Delay,Min Gap,Direction,Year,Month,Season
0,2017-05-01,YU,01:07,Monday,Passenger Assistance Alarm Activated - No Trou...,3,7,North,2017,May,Spring
1,2017-05-01,SRT,01:18,Monday,Timeout,4,9,South,2017,May,Spring
2,2017-05-01,BD,01:42,Monday,Miscellaneous Other,7,11,West,2017,May,Spring
3,2017-05-01,BD,05:56,Monday,Brakes,5,0,West,2017,May,Spring
4,2017-05-01,YU,06:26,Monday,Injured or ill Customer (On Train) - Transported,16,21,South,2017,May,Spring
...,...,...,...,...,...,...,...,...,...,...,...
75584,2024-11-30,YU,22:03,Saturday,Passenger Assistance Alarm Activated - No Trou...,3,8,North,2024,November,Fall
75585,2024-11-30,YU,22:50,Saturday,Injured or ill Customer (On Train) - Medical A...,5,11,North,2024,November,Fall
75586,2024-11-30,BD,00:14,Saturday,No Operator Immediately Available,6,12,East,2024,November,Fall
75587,2024-11-30,YU,00:35,Saturday,Passenger Other,5,11,South,2024,November,Fall
75588,2024-11-30,SHP,21:19,Saturday,Transportation Department - Other,7,14,West,2024,November,Fall